/*

Overview of the top level classes

body
  header
  content
    header
    landing
    info
    quote
  footer

*/


/* Body and general stylings */

body {
  height: 100vh;
  margin: 0;
  overflow: scroll;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  padding: 8px 64px;
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 8px;
  font-weight: 900;
  font-size: 18px;
}


/* Header stylings */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding: 15px;
}

.header .logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-right: 342px;
}

.header ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.header li {
  padding: 15px;
}

.header a {
  text-decoration: none;
}

.header a,
.landing.left p,
.landing.right {
  color: #E5E7EB;
  font-size: 18px;
}


/* Content stylings */

.content {
  flex: 1;
}


/* Landing stylings */

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding: 50px 0;
}

.landing.left {
  display: block;
  width: 450px;
}

.landing.left h1 {
  margin-right: 75px;
  font-weight:bolder;
  color: #F9FAF8;
}

.landing.left button {
  border: solid #3882F6 1px;
}

.landing.right {
  display: flex;
  width: 450px;
  height: 125px;
  background-color: rgb(134, 134, 134);
  margin-left: 50px;
}


/* Info stylings */

.info h2,
.info .info-box-container {
  text-align: center;
  padding: 20px;
}

.info-box-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-box {
  width: 150px;
}

.info-box .image {
  border: solid #3882F6 3px;
  border-radius: 12px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}


/* Quote stylings */
